article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

main {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

section {
  display: none;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

section {
  display: none;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.score {
  background: #ffff;
  border: 5px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  width: 50px;
  height: 50px;
  right: 15px;
  top: 15px; }

.button1 {
  width: 175px;
  height: 60px;
  border: none;
  background: -webkit-gradient(linear, left bottom, left top, from(#fc5c7d), to(#64dce5));
  background: -webkit-linear-gradient(bottom, #fc5c7d, #64dce5);
  background: -o-linear-gradient(bottom, #fc5c7d, #64dce5);
  background: linear-gradient(to top, #fc5c7d, #64dce5);
  font-size: 1.85rem;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  color: white;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin-top: 10px; }
  .button1:hover {
    background: -webkit-gradient(linear, left top, right top, from(#fc5c7d), to(#6a82fb));
    background: -webkit-linear-gradient(left, #fc5c7d, #6a82fb);
    background: -o-linear-gradient(left, #fc5c7d, #6a82fb);
    background: linear-gradient(to right, #fc5c7d, #6a82fb); }
  @media (max-width: 1160px) {
    .button1 {
      margin: 15px 0;
      width: 300px; } }
  @media (max-width: 600px) {
    .button1 {
      height: 40px;
      font-size: 1.8rem;
      width: 100%; } }

html {
  font-size: 62.5%; }

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 13rem;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-shadow: 10px 10px 10px black; }

h2 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 3.5rem;
  width: 60%;
  margin: 20px auto;
  color: #ffff; }

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 8rem;
  color: #64dce5;
  padding-top: 50px;
  margin: 0;
  text-transform: uppercase; }

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px; }

.lyrics p {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 2.5rem; }

.feedback h2 {
  font-size: 7rem;
  font-family: "Roboto", sans-serif; }

.feedback h3 {
  font-family: "Montserrat", sans-serif;
  color: #ffff;
  padding: 0;
  margin: 0; }

h6 {
  font-family: "Roboto", sans-serif;
  font-size: 3.5rem;
  margin: 0; }

footer {
  font-family: "Montserrat", sans-serif;
  color: #64dce5;
  font-size: 1.5rem; }

.introPage {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(images/daniel-von-appen-285976-unsplash-radio.jpg);
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/daniel-von-appen-285976-unsplash-radio.jpg);
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/daniel-von-appen-285976-unsplash-radio.jpg);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/daniel-von-appen-285976-unsplash-radio.jpg);
  background-size: cover;
  width: 100%;
  margin: 0 auto;
  padding: 50px;
  padding-top: 160px; }
  .introPage.top100 {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(images/joseph-pearson-411277-unsplash-top100.jpg);
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/joseph-pearson-411277-unsplash-top100.jpg);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/joseph-pearson-411277-unsplash-top100.jpg);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/joseph-pearson-411277-unsplash-top100.jpg);
    background-size: cover; }
  .introPage.pop {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(images/samuel-zeller-103111-unsplash-pop.jpg);
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/samuel-zeller-103111-unsplash-pop.jpg);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/samuel-zeller-103111-unsplash-pop.jpg);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/samuel-zeller-103111-unsplash-pop.jpg);
    background-size: cover; }
  .introPage.alternative {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(images/luke-porter-108506-unsplash-alternative.jpg);
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/luke-porter-108506-unsplash-alternative.jpg);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/luke-porter-108506-unsplash-alternative.jpg);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/luke-porter-108506-unsplash-alternative.jpg);
    background-size: cover; }
  .introPage.hip-hop {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(images/matty-adame-200085-unsplash-hip-hop.jpg);
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/matty-adame-200085-unsplash-hip-hop.jpg);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/matty-adame-200085-unsplash-hip-hop.jpg);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/matty-adame-200085-unsplash-hip-hop.jpg);
    background-size: cover; }
  .introPage.country {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(images/thomas-kelley-78865-unsplash-country.jpg);
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/thomas-kelley-78865-unsplash-country.jpg);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/thomas-kelley-78865-unsplash-country.jpg);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/thomas-kelley-78865-unsplash-country.jpg);
    background-size: cover; }
  .introPage h2 span {
    display: block; }

.text {
  text-align: center;
  color: #64dce5;
  margin: 0;
  line-height: 1; }

.game-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .game-options select {
    width: 200px;
    height: 60px;
    margin: 10px 0;
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: bold;
    padding: 10px;
    color: black;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    border: none;
    text-align: center;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .game-options select:hover {
      background-color: #ffff; }
  .game-options input {
    width: 200px;
    height: 60px;
    margin: 2.5% 0;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-family: "Roboto", sans-serif;
    font-size: 3rem;
    font-weight: bold;
    padding: 10px;
    background-color: #64dce5;
    border: none;
    color: black;
    font-weight: bold;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .game-options input:hover {
      background-color: #ffff; }

.game-options select option {
  font: "Montserrat", sans-serif; }

@media (max-width: 900px) {
  h2 {
    width: 90%; } }

@media (max-width: 740px) {
  h1 {
    font-size: 9rem; }
  h2 {
    font-size: 2.5rem; } }

.gamePage {
  width: 100%;
  margin: 0 auto;
  padding-top: 110px;
  min-height: 100vh;
  background: url(.../../images/musicnotes.jpg);
  background-position: center;
  background-size: cover; }
  .gamePage h3 {
    color: black;
    background: white;
    display: inline-block;
    padding-top: 0;
    width: 60%; }

.lyricsWrapper {
  text-align: center; }
  .lyricsWrapper .lyrics {
    width: 60%;
    line-height: 1.75;
    margin: 0 auto;
    padding-bottom: 7.5px;
    padding-top: 7.5px;
    text-align: center;
    background: white;
    -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.75); }

.selection {
  background: transparent;
  width: 60%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto; }

@media (max-width: 1160px) {
  .selection {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 70%; }
  .lyricsWrapper .lyrics {
    width: 70%; }
    .lyricsWrapper .lyrics p {
      font-size: 2.3rem; }
  .gamePage h3 {
    width: 70%;
    font-size: 5rem; } }

@media (max-width: 1085px) {
  .selection {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 70%; } }

@media (max-width: 890px) {
  .lyricsWrapper .lyrics {
    width: 95%; }
  .selection {
    width: 95%; }
  .gamePage h3 {
    width: 95%;
    font-size: 5rem; } }

@media (max-width: 890px) and (max-width: 650px) {
  .gamePage {
    padding-top: 70px; }
  .selection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 70%; }
  .lyricsWrapper .lyrics p {
    font-size: 2rem; } }

@media (max-width: 890px) and (max-width: 600px) {
  .gamePage {
    padding-top: 100px; } }

@media (max-width: 890px) and (max-width: 460px) {
  .gamePage {
    padding-top: 50px; } }

.winnerSection {
  width: 100%;
  margin: 0 auto;
  background: url(.../../images/musicnotes.jpg);
  background-position: center;
  background-size: cover;
  display: relative; }
  .winnerSection .win {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    position: relative;
    min-height: 100vh; }
    .winnerSection .win h4 {
      position: relative;
      z-index: 10;
      color: white;
      text-align: center;
      top: 10%;
      width: 60%;
      -webkit-transform: translateY(-30%);
      -ms-transform: translateY(-30%);
      transform: translateY(-30%);
      color: black;
      background: white;
      -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.75);
      padding: 2.5%; }
  .winnerSection .resetButton {
    position: absolute;
    bottom: 50px;
    width: 175px;
    height: 60px;
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    border: none;
    color: white;
    background: #64dce5; }
    .winnerSection .resetButton:hover {
      background: -webkit-gradient(linear, left top, right top, from(#fc5c7d), to(#6a82fb));
      background: -webkit-linear-gradient(left, #fc5c7d, #6a82fb);
      background: -o-linear-gradient(left, #fc5c7d, #6a82fb);
      background: linear-gradient(to right, #fc5c7d, #6a82fb);
      color: white; }

.loserSection {
  width: 100%;
  margin: 0 auto;
  background: url(.../../images/musicnotes.jpg);
  background-position: center;
  background-size: cover;
  display: relative; }
  .loserSection .lose {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    position: relative;
    min-height: 100vh; }
    .loserSection .lose h4 {
      position: relative;
      z-index: 10;
      color: white;
      text-align: center;
      top: 10%;
      width: 60%;
      -webkit-transform: translateY(-30%);
      -ms-transform: translateY(-30%);
      transform: translateY(-30%);
      color: black;
      background: white;
      -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.75);
      padding: 2.5%; }
  .loserSection .resetButton {
    position: absolute;
    bottom: 50px;
    width: 175px;
    height: 60px;
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    border: none;
    color: white;
    background: #64dce5; }
    .loserSection .resetButton:hover {
      background: -webkit-gradient(linear, left top, right top, from(#fc5c7d), to(#6a82fb));
      background: -webkit-linear-gradient(left, #fc5c7d, #6a82fb);
      background: -o-linear-gradient(left, #fc5c7d, #6a82fb);
      background: linear-gradient(to right, #fc5c7d, #6a82fb);
      color: white; }

.resetButton a {
  text-decoration: none;
  color: black;
  text-transform: uppercase; }

@media (max-width: 685px) {
  .loserSection .lose h4 {
    font-size: 2rem; } }

.feedback {
  margin: 0 auto;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(.../../images/musicnotes.jpg);
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(.../../images/musicnotes.jpg);
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(.../../images/musicnotes.jpg);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(.../../images/musicnotes.jpg);
  background-position: center;
  background-size: cover;
  padding-top: 70px; }
  .feedback h3 {
    font-size: 2.5rem;
    text-transform: capitalize; }
  .feedback h2 {
    color: #64dce5; }
  .feedback img {
    margin: 20px 0;
    width: 50%;
    max-height: 250px; }
  .feedbackContent {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%; }
    @media (min-width: 650px) {
      .feedbackContent {
        width: 80%; } }
    @media (min-width: 900px) {
      .feedbackContent {
        width: 60%; } }

@media (max-width: 650px) {
  button.nextQuestion.button1 {
    width: 200px; }
  button.getScore.button1 {
    width: 200px; } }
