.feedback {
    margin: 0 auto;
    width: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(.../../images/musicnotes.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 70px;

    h3 {
        font-size: 2.5rem;
        text-transform: capitalize;
    }


    h2 {
        color: $primaryColor;
    }
    img {
        margin: 20px 0;
        width: 50%;
        max-height: 250px;
    }

    &Content {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        @media (min-width: 650px ) {
            width: 80%;
        }
        @media (min-width: 900px ) {
            width: 60%;
        }
    }
}


@media (max-width: 650px ) {
    button.nextQuestion.button1 {
        width: 200px;
    }
    button.getScore.button1 {
        width: 200px;
    }

}

