.introPage {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/daniel-von-appen-285976-unsplash-radio.jpg);
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    padding: 50px;
    padding-top: 160px;
    &.top100 {
        background:linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/joseph-pearson-411277-unsplash-top100.jpg );
        background-size: cover;
    }
    &.pop {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(images/samuel-zeller-103111-unsplash-pop.jpg );
        background-size: cover;
    }
    &.alternative {
        background:linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/luke-porter-108506-unsplash-alternative.jpg );
        background-size: cover;
    }
    &.hip-hop {
        background:linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/matty-adame-200085-unsplash-hip-hop.jpg );
        background-size: cover;
    }
    &.country {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(images/thomas-kelley-78865-unsplash-country.jpg );
        background-size: cover;
    }

    h2 span {
        display: block;
    }



}


.text {
    text-align: center;
    color: $primaryColor;
    margin: 0;
    line-height: 1;
}

.game-options {
    display: flex;
    align-items: center;
    flex-direction: column;
    select {
        width: 200px;
        height: 60px;
        margin: 10px 0;
        text-transform: capitalize;
        font-family: $accentFont;
        font-size: 1.8rem;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-weight: bold;
        padding: 10px;
        color: black;
        appearance: none;
        cursor:pointer;
        border: none;
        text-align: center;
        transition: all 0.4s ease;
         &:hover {
            background-color: $secondaryColor;
        }
    }
    input {
        width: 200px;
        height: 60px;
        margin: 2.5% 0;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-family: $baseFont;
        font-size: 3rem;
        font-weight: bold;
        padding: 10px;        
        background-color: $primaryColor;
        border: none;
        color: black;
        font-weight: bold;
        transition: all 0.4s ease;
        &:hover {
            background-color: $secondaryColor;
        }
    }
}

.game-options select option {
    font: $accentFont;

}



@media(max-width: 900px) {
    h2 {
        width: 90%;
    }
}

@media(max-width: 740px) {
    h1 {
        font-size: 9rem;
    }

    h2 {
        font-size: 2.5rem;
    }

}

