.winnerSection{
    width: 100%;
    margin: 0 auto;
    background: url(.../../images/musicnotes.jpg);
    background-position: center;
    background-size: cover;
    display: relative;
    .win {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
        min-height: 100vh;
    h4 {
        position: relative;
        z-index: 10;
        color: white;
        text-align: center;
        top: 10%;
        width: 60%;
        transform: translateY(-30%);
        color: black;
        background: white;
        box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
        padding: 2.5%;
    }
    }

    .resetButton {
        position: absolute;
        bottom: 50px;
        width: 175px;
        height: 60px;
        font-family: $accentFont;
        font-size: 3rem;
        border: none;
        color: white;
        background: $primaryColor;

        &:hover {
            background: linear-gradient(to right, #fc5c7d, #6a82fb);
            color:white;

        }
    }
}

// LOSER SECTION STYLES

.loserSection {
    width: 100%;
    margin: 0 auto;
    background: url(.../../images/musicnotes.jpg);
    background-position: center;
    background-size: cover;
    display: relative;
    .lose {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
        min-height: 100vh;
        h4 {
            position: relative;
            z-index: 10;
            color: white;
            text-align: center;
            top: 10%;
            width: 60%;
            transform: translateY(-30%);
            color: black;
            background: white;
            box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
            padding: 2.5%;
        }

        }
         .resetButton {
        position: absolute;
        bottom: 50px;
        width: 175px;
        height: 60px;
        font-family: $accentFont;
        font-size: 3rem;
        border: none;
        color: white;
        background: $primaryColor;

        &:hover {
            background: linear-gradient(to right, #fc5c7d, #6a82fb);
            color:white;

        }
    }
    }


.resetButton a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

 @media(max-width: 685px) {
    .loserSection .lose h4 {
        font-size: 2rem;
        }
    }
