.winnerSection{
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    background: url(.../../images/musicnotes.jpg);
    background-position: center;
    background-size: cover;
    display: relative;
    .win {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: absolute;
        margin: 0 auto;
    h4 {
            position: absolute;
            top: 40%;
            z-index: 10;
            color: white;
            text-align: center;
            margin: 0;
    }
    }
    img {
        position: relative;
        width: 100%;
        display: block;
    }
    .resetButton {
        position: absolute;
        bottom: 75px;
        width: 175px;
        height: 60px;
        font-family: $accentFont;
        font-size: 3rem;
        border: none;
        background: $primaryColor;

        &:hover {
            background: linear-gradient(to right, #fc5c7d, #6a82fb);
            color:white;

        }
    }
}

// LOSER SECTION STYLES

.loserSection {
    width: 100%;
    margin: 0 auto;
    background: url(.../../images/musicnotes.jpg);
    background-position: center;
    background-size: cover;
    display: relative;
    .lose {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        h4 {
            position: absolute;
            z-index: 10;
            color: white;
            text-align: center;
        }
        img {
            position: relative;
            width: 100%;
            display: block;
        }
         .resetButton {
        position: absolute;
        bottom: 50px;
        width: 175px;
        height: 60px;
        font-family: $accentFont;
        font-size: 3rem;
        border: none;
        color: white;
        background: $primaryColor;

        &:hover {
            background: linear-gradient(to right, #fc5c7d, #6a82fb);
            color:white;

        }
    }
    }
}

.resetButton a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
